body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 20px;
}

.title {
    line-height: 3.5rem;
    vertical-align: middle;
    background-color: #520000;
    border-radius: 0.75rem;
    text-align: center;
    height: 3.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    margin: 0px;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container div {
    font-weight: 700;
    align-items: center;
    margin: 10px 10px;
    padding: 10px;
    border: 2px solid #3f3f3f;
    border-radius: 1.25rem;
    width: 33rem;
}

.data {
    display: none;
    width: 20rem;
}

.container img {
    margin-top: 1rem;
    width: 100%;
    height: auto;
    border-radius: 0.75rem;
}
.container img:hover {
    filter: blur(5px);
    transition: 0.3s;
}

.container div:hover .data {
    display: block;
    width: 30rem;
}

.clickable {
    align-items: center;
    margin-top: 1rem;
    padding: 10px;
    border: 2px solid #3f3f3f;
    border-radius: 1.25rem;
    width: 15rem;
}